@import url("https://use.fontawesome.com/releases/v5.14.0/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rochester&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap");

$main: #f05447;
$dark: #293241;
$background: #3c3c46;

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: $background;
}

* {
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
$break-large: 1024px;
$break-huge: 2560px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-large - 1) {
      @content;
    }
  } @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) {
      @content;
    }
  } @else if $media == huge-screens {
    @media only screen and (min-width: $break-huge) {
      @content;
    }
  }
}
