<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" ></div>
    <title>Iker Urlezaga</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" ></div>
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" ></div>
    <meta name="description" content="Personal site" ></div>
    <link rel="icon" href="favicon.ico" ></div>
    <link rel="manifest" href="manifest.json" ></div>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/b3bcb5e585.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/petite-vue" defer init></script>
  </head>

  <body>
    <script>
      const openGithub = () => { window.open("https://github.com/ikerUrle") }
      const openTwitter = () => { window.open("https://twitter.com/ikerUrle") }
      const openLinkedin = () => { window.open("https://www.linkedin.com/in/ikerurle/") }
    </script>
    <div class="keyboard">
    <!-- <div class="row">
      <div v-for="(a,index) in 14" :key="index" class="key"  ></div>
    </div> -->
    <div class="row first-row">
      <div class="key"></div>
      <div class="key text-4xl opacity-100 text-black">
        <i class="fab fa-js-square"></i>
      </div>
      <div class="key text-4xl opacity-100 text-black">
        <i class="fab fa-vuejs"></i>
      </div>
      <div class="key text-4xl opacity-100 text-black">
        <i class="fab fa-css3-alt"></i>
      </div>
      <div class="key text-4xl opacity-100 text-black">
        <i class="fab fa-sass"></i>
      </div>
      <div class="key text-4xl opacity-100 text-black">
        <i class="fab fa-git-alt"></i>
      </div>
      <div v-for="(a,index) in 6" :key="index" class="key"  ></div>
      <div class="key text-right w-[200%]">backspace</div>
    </div>
    <div class="row second-row">
      <div class="key text-left">tab</div>
      <div v-for="(a,index) in 'iker'.split('')" :key="index" class="key text-4xl opacity-100" >{{a}}</div>
      <div v-for="(a,index) in 9" :key="index" class="key"  ></div>
    </div>
    <div class="row third-row">
      <div class="key text-left">capslock</div>
      <div v-for="(a,index) in 'front'.split('')" :key="index" class="key text-4xl text-black opacity-100">{{a}}</div>
      <div v-for="(a,index) in 6" :key="index" class="key"  ></div>
      <div class="key text-right">enter</div>
    </div>
    <div class="row fourth-row">
      <div class="key text-left">shift</div>
      <div v-for="(a,index) in 'dev'.split('')" :key="index" class="key text-4xl opacity-100">{{a}}</div>
      <div v-for="(a,index) in 4" :key="index" class="key"  ></div>
      <div class="key"></div>
      <a class="key text-4xl text-black opacity-100" href="https://github.com/ikerUrle">
        <i class="fab fa-github"></i>
      </a>
      <a class="key text-4xl text-black opacity-100" href="https://twitter.com/ikerUrle">
        <i class="fab fa-twitter"></i>
      </a>
      <a class="key text-4xl text-black opacity-100" href="https://www.linkedin.com/in/ikerurle">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <div class="key text-right">shift</div>
    </div>
    <div class="row fifth-row">
      <div class="key text-left">ctrl</div>
      <div class="key text-left">
        <i class="fab fa-linux"></i>
      </div>
      <div class="key text-left">fn</div>
      <div class="key text-left">alt</div>
      <div class="key" style="width: 600%;">space</div>
      <div class="key text-right">altgr</div>
      <div class="key text-right">
        <i class="fab fa-linux"></i>
      </div>
      <div class="flex w-[300%] items-end">
        <i class="fas fa-long-arrow-alt-left key key-half"></i>
        <div class="height-min flex-grow w-[100%]">
          <i class="fas fa-long-arrow-alt-up key key-half"></i>
          <i class="fas fa-long-arrow-alt-down key key-half"></i>
        </div>
        <i class="fas fa-long-arrow-alt-right key key-half"></i>
      </div>
    </div>
    </div>
  </body>
</html>
