@import url("https://use.fontawesome.com/releases/v5.14.0/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rochester&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap");
::-webkit-scrollbar {
  display: none;
}

body{
  background-color: #44b0b0;
  display: flex;
  justify-content: center;
}
.keyboard {
  margin: 0;
  margin-top:20px;
  padding: 40px;
  height: 100%;
  width: 100%;
  background: #e6e6e6;
  background-image: radial-gradient(circle, #d3d3d3, #d8d8d8, #dcdcdc, #e1e1e1, #e6e6e6);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1300px;
  gap:5px;

  /*
  position: absolute;
height: 420px;
transform: rotate(-30deg) translateX(20%);
  */
}

* {
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

.row {
  flex:1;
  display: flex;
  padding: 2px 0;
  gap: 10px;
}

.fifth-row {
  max-height: 100px;
}
.key {
  width:100%;
  content: '';
  /* border:.17rem solid #a8abab; */
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 8px;
  background: #eceded;
  height:4rem;
  min-width: 4rem;
  line-height: 9;
  font-size: .6rem;
  font-weight: 100;
  color: #858585;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.1em;
  padding: .5rem;
  /* opacity: .6; */
}

.key-half {
  height:2rem;
}

.key img {
  height: 2rem;
  color: #858585;
}
.key:hover {
  transform: scale(1.1);
}

.w-13 {
  width:140%;
}
.w-14 {
  width:155%;
}
.w-15 {
  width: 170%;
}

.first-row .key:nth-child(14) {
  width:150%;
}

.second-row .key:nth-child(1) {
  width:150%;
}
.third-row .key:nth-child(1) {
  width:170%;
}
.fourth-row .key:nth-child(1) {
  width:190%;
}

.third-row .key:nth-child(13) {
  width:180%;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

