@import url("https://use.fontawesome.com/releases/v5.14.0/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rochester&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap");
::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 20px;
  height: 100%;
  width: 100%;
  background-color: #dedfdf;
}

* {
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

.keyboard-img {
  width:100%;
  height: auto;
}
.row {
  display: flex;
  padding: 2px 0;
  max-height: 100px;
}
/* .zero-row {
  display: flex;
  position: absolute;
  top:20px;
  left:20px;
}
.first-row {
  display: flex;
  position: absolute;
  top: 80px;
  left: 23px;
} */
/* .key-1 {
  height: 60px;
}
.key-2 {
  height: 95px;
} */
.key-1, .key-2 {
  width:100%;
}
.w-13 {
  width:140%;
}
.w-14 {
  width:155%;
}
.w-15 {
  width: 170%;
}

.key-1:hover, .key-2:hover {
  transform: scale(1.1);
}
